<!--{% load static %}-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  &lt;!&ndash; Theme Made By www.w3schools.com - No Copyright &ndash;&gt;-->
<!--  <title>Bootstrap Theme Simply Me</title>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--  &lt;!&ndash; Bootstrap Core CSS &ndash;&gt;-->
<!--  <link href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">-->

<!--  &lt;!&ndash; Custom Fonts &ndash;&gt;-->
<!--  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">-->


{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>No&eacute;mie and Ruizhi's Big Day</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="{% static 'bigday/css/page_def.min.css' %}" type="text/css">


  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<!--Navigation Bar - Start-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage"> 6 June 2020 </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">Home</a></li>
        <li><a href="#event">Event</a></li>
        <li><a href="#travel">Travel & Accomodation</a></li>
        <li><a href="#gift">Gift</a></li>
        <li><a href="#contact">Contact</a></li>
<!--        <li class="dropdown">-->
<!--          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE-->
<!--          <span class="caret"></span></a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a href="#">Merchandise</a></li>-->
<!--            <li><a href="#">Extras</a></li>-->
<!--            <li><a href="#">Media</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>-->
      </ul>
    </div>
  </div>
</nav>
<!--Navigation Bar - End-->

<!--Landing Page - Start-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
    <div class="active item">
      <div class="fill" style="background-image:url('static/bigday/images/noemie-ruizhi-prep1.jpg')">
        <div class="carousel-caption">
          <p>Getting ready...</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('static/bigday/images/noemie-ruizhi-prep2.jpg')">
        <div class="carousel-caption">
          <p>Still getting ready...</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('static/bigday/images/noemie-ruizhi-red1.jpg')">
        <div class="carousel-caption">
          <p>Ready for the big day!</p>
        </div>
      </div>
    </div>
  </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
<!--Landing Page - End-->

<!-- Container (Event Section) -->
<div id="event">
  <div class="container">
    <h3 class="text-center">Event</h3>
    <p class="text-center"><em> We cannot wait for the big day! </em></p>
    <p class="text-center">
      We cannot be more happy to take the vow of marriage and to spend our lives together. But it wouldn't mean nearly as much, if you,
      our closest friends and family, were not there to spend this wonderful day with us! The wedding will be on the 06 June 2020.
    </p>
    <br>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/bigday/images/veauche_church.jpg" alt="church" width="400" height="400">
          <p><strong>Wedding Ceremony</strong></p>
          <p>Saturday 06 June 2020 - Start: 15:00</p>
          <p>17 place Abbé Blard <br> 42340 Veauche </p>
          <p class="text-left">
            The ceremony takes place in a little church in the center of Veauche. There will also be some musical performance from friends and family!
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/bigday/images/veauche_house.jpg" alt="house" width="400" height="400">
          <p><strong>Reception and Dinner</strong></p>
          <p>Saturday 06 June 2020 - Start: 17:00 </p>
          <p>69 rue du Docteur Masourenok <br> 42340 Veauche</p>
          <p class="text-left">
          For those invited either to the cocktail and/or the dinner, this will take place at the wonderful estate of Noémie’s grandmother.
          There will be some speeches, music and tears (Ruizhi can be pretty emotional). After that it will be time for the open-ended party!
          As mentioned on the invite, please respond before the 15th of April.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/bigday/images/veauche_brunch.jpg" alt="brunch" width="400" height="400">
          <p><strong>Brunch</strong></p>
          <p>Sunday 07 June 2020 - Start: 11:00  </p>
          <p>69 rue du Docteur Masourenok <br> 42340 Veauche</p>
          <p class="text-left">
          The last occasion for everyone to get together, to recap the night before and to fill the stomach before heading home.
          Please do come, even if it is just to say goodbye. If you have some more time, bring your swimsuit and spend the day with us by the pool!
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Container (Travel and Accomodation) -->
<div id="travel" class="bg-1">
  <div class="container text-center">
    <h3>Travel and Accomodation</h3>
   <p style="font-size:120%; color:white;">How to get there</p>
   <p>
     The only thing you need to know is how to get to the church on the day of wedding. After that, it is enough just to
     follow the crowd. However, Veauche is a small town, with limited access to public transport.
   </p>
   <p>
     <em>
       Eglise de Veauche Bourg <br>
       17 place Abb&eacute; Blard <br>
       42340 Veauche <br>
     </em>
   <p>
    The closest airport to Veauche is in Lyon. Upon arrival, the easiest way is probably to rent a car and to drive to Veauche.
    There is plenty of place to park at the church and afterwards at the reception.
    But if you prefer to take public transport to protect the environment (you won't be protecting your wallet though),
    we have added some instructions below. You can check the train times and book tickets on the website of the national railway
    company SNCF (<a href="https://www.sncf.com/en"> link to website </a>).
   </p>

   </p>
    <ul class="list-group text-left">
      <li class="list-group-item">
        <p style="color:grey"><strong>
          Lyon Airport to Lyon Train Station (Lyon Part-Dieu)
        </strong></p>
        <p style="color:grey">
          Take the Rhone Express from the airport to Lyon Part-Dieu, which is the main train station.
          The trip takes about 30 minutes and costs &euro;17 one-way per person. Be aware that it only runs until midnight!
        </p>
      </li>
      <li class="list-group-item">
        <p style="color:grey"><strong>
          Lyon Station (Lyon Part-Dieu) to Veauche Station (Veauche St. Galmier)
        </strong></p>
        <p style="color:grey">
          Take the train and you will need to change at St. Etienne Chateaucreux. The trip takes roughly 1.5 hours and
          costs between &euro;10 - &euro;15 one-way per person. The connection only runs every couple of hours.
        </p>
      </li>
      <li class="list-group-item">
        <p style="color:grey"><strong>
          Veauche Station (Veauche St. Galmier) to Church
        </strong></p>
        <p style="color:grey">
          That's the easy part. Let us know a bit in advance and we will find some relatives to do us the favour of picking you up!
        </p>
      </li>
    </ul>
    <br>

   <p style="font-size:120%; color:white">Where to stay</p>
    <p>There is a few options for accomodation either at the location of the party or closeby. There is only limited
      public transport, so please be aware that if you do chose a remote accomodation you might have
      to take the taxi to get there after the party. There are a few options and we are happy to help! <br> <a style="color:white">Click the options for more! </a>
    </p>

    <div class="row">

      <div class="col-sm-4">
        <p class="text-center" style="color:white"><strong>Hotel</strong></p>
        <a href="#demo" data-toggle="collapse">
          <img src="static/bigday/images/hotel.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo" class="collapse">
          <p class="text-left">
            There are a few hotels around. The ones that we can recommend are: <br><br>
              Best Western Saint-Etienne Porte du Forez <br><br>
              Premiere Classe Saint Etienne - Aéroport Boutheon <br><br>
            The are both on Booking.com. However, they seem to be already quite booked - so better book a room fast!
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <p class="text-center" style="color:white"><strong>Tent</strong></p>
        <a href="#demo2" data-toggle="collapse">
          <img src="static/bigday/images/tent.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo2" class="collapse">
          <p class="text-left">
            Whether you have a small budget or you like the outdoors, staying in a tent in the garden might be a great option for you!
            No&eacute;mie is a veteran scout, who besides of being always ready, will also be able to get a few tents for the
            occasion. Let us know if you want to stay in a tent and also if you can bring a tent along or if you'd like us to get one for you.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center" style="color:white"><strong>Party All Night</strong></p>
        <a href="#demo3" data-toggle="collapse">
          <img src="static/bigday/images/party.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo3" class="collapse">
          <p class="text-left">
            Of course you can just stay up all night. We don't mind anyone keeping the party going. It might eventually get a bit more difficult,
            especially after the DJ leaves. But I am sure that there should be a wedding playlist on Spotify somewhere. Just make sure you're ready
            for brunch the next morning!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container (The Event Section) -->
<div id="gift">
  <div class="container text-center">
  <h3>Gift Ideas</h3>
  <p><em>No&eacute;mie and Ruizhi are getting married!</em></p>
  <p>
    We are more than happy for you to simply join us for our special day! But in order to make everyone's life easier, we thought the easiest would be if you could just support
  us for our honeymoon and our future life together. <br>

    For other details regarding gifts, we are using a website called <b>www.millemercis.com</b>. It is an online gift registery
    that makes it easy to organize everything. In case you have never used one before, basically it is an online list of all the gifts that we are interested in.
    <br>Please be aware that the below link only works from a desktop computer, not from mobile devices.
  </p>
  <p>The English website: <a href="http://uk.millemercismariage.com/noemieruizhi/mariage-of-noemie-borel-and-ruizhi-wang.html">
    millemercis.com/uk </a></p>
   <p>The French website: <a href="http://www.millemercismariage.com/noemieruizhi/mariage-de-noemie-borel-et-ruizhi-wang.html ">
      millemercis.com/fr</a></p>
  <br>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="bg-1">
  <div class="container">
    <h3 class="text-center">Contact</h3>
    <p class="text-center"><em>Please send us an Email!</em></p>
    <div class="row">
      <div class="col-md-4">
        <br>
        <p> 49 Woodland Grove <br> Epping Cm16 4NE <br>United Kingdom <br></p>
        <p><span class="glyphicon glyphicon-phone"></span> Phone: +44 7517608059</p>
        <p><span class="glyphicon glyphicon-envelope"></span> Email: noemie.ruizhi@gmail.com</p>
      </div>

      <div class="col-md-8">

        <form role="form" action="" method="post">
          {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}

            {% for field in form.visible_fields %}
              <div class="form-group">
                {{ field.label_tag }}

                {% if form.is_bound %}
                  {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% else %}
                    {% render_field field class="form-control is-valid" %}
                  {% endif %}
                {% else %}
                  {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
              </div>
            {% endfor %}

          <button type="submit" class="btn btn-primary">Submit</button>

         </form>
      {% if messages %}
      {% for message in messages %}
      {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

      {% endfor %}

      {% endif %}
      </div>
    </div>
    <br>
  </div>

<!--  <h3 class="text-center">From The Blog</h3>-->
<!--  <ul class="nav nav-tabs">-->
<!--    <li class="active"><a data-toggle="tab" href="#home">Mike</a></li>-->
<!--    <li><a data-toggle="tab" href="#menu1">Chandler</a></li>-->
<!--    <li><a data-toggle="tab" href="#menu2">Peter</a></li>-->
<!--  </ul>-->

<!--  <div class="tab-content">-->
<!--    <div id="home" class="tab-pane fade in active">-->
<!--      <h2>Mike Ross, Manager</h2>-->
<!--      <p>Man, we've been on the road for some time now. Looking forward to lorem ipsum.</p>-->
<!--    </div>-->
<!--    <div id="menu1" class="tab-pane fade">-->
<!--      <h2>Chandler Bing, Guitarist</h2>-->
<!--      <p>Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>-->
<!--    </div>-->
<!--    <div id="menu2" class="tab-pane fade">-->
<!--      <h2>Peter Griffin, Bass player</h2>-->
<!--      <p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>-->
<!--    </div>-->
<!--  </div>-->
</div>

<!-- Image of location/map -->
<!--<img src="static/bigday/images/noemie-ruizhi-red1.jpg" class="img-responsive" style="width:100%">-->

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>website by Ruizhi!</a></p>
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>
</html>


